<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your accont is created successfully</h2>
        <hr />

        <a class="btn btn-info" asp-controller="Accounts" asp-action="Login">
            Log in
            <i class="bi bi-box-arrow-in-right"></i>
        </a>
    </div>
</div>