@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
}

<div class="container justify-content-center col-md-8">
    <div class="row mb-2">
        <h2 class="text-primary text-center">Users</h2>
    </div>

    <table class="table table-bordered table-striped" width="100%" id="usersTable">
        <thead>
            <tr>
                <th class="col-2 text-center">Name</th>
                <th class="col-2 text-center"><h4>Email</h4></th>
                <th class="col-1"></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/users.js"></script>
}
