@model QuestionVM

<div class="container col-md-6">
    <div class="card shadow border-0 mt-4 justify-content-center">
       
        <ul class="nav nav-tabs">
            <li class="nav-item col-6 bg-secondary" id="YesOrNo">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>

            <li class="nav-item col-6 bg-secondary" id="Multiple">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>

        <div class="card-body justify-content-center">
            <form method="post">
                <input asp-for="FalseAuthor1" hidden/>
                <input asp-for="FalseAuthor1" hidden />
                <input asp-for="CorrectAuthorId" hidden />
                <input asp-for="QuoteId" hidden/>
                <input asp-for="Id" hidden />
                <input asp-for="RandomAuthorId" hidden />
                <input asp-for="RandomAuthor" hidden />
                <input asp-for="CorrectAuthor" hidden />
                <h4> Who said it ?</h4>

                <div class="container justify-content-center">
                    <div class="mb-4">
                        <div class="row form-floating shadow">
                            <textarea rows="4" asp-for="@Model.AskedQuote.Text" 
                                      class="form-control" readonly style="background-color:deeppink">
                            </textarea>
                        </div>

                        <div class="mt-4">
                            <div class="mt-2 text-center">
                                <p>@Model.RandomAuthor.Name ?</p>
                            </div>

                            <!-- YesNoButtons -->
                            <div id="YesNoButtons">
                                <div class="d-flex justify-content-between">
                                    <button name="submit" type="submit" 
                                            class="btn btn-outline-primary col-6 col-md-3 fw-bold"
                                            style="background-color:limegreen" value="yes">
                                        Yes
                                    </button>

                                    <button name="submit" type="submit" 
                                            class="btn btn-outline-primary col-6 col-md-3 fw-bold"
                                            style="background-color:crimson" value="no">
                                        No
                                    </button>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}